<%= form_with(model: listing, local: true) do |form| %>
  <% if listing.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(listing.errors.count, "error") %> prohibited this listing from being saved:</h2>

      <ul>
        <% listing.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :title %>
    <%= form.text_field :title %>
  </div>

  <div class="field">
    <%= form.label :date %>
    <%= form.date_field :date %>
  </div>

  <div class="field">
    <%= form.label :venue_id %>
    <%= form.collection_select(:venue_id, Venue.all.sort_by(&:form_name), :id, :form_name) %>
  </div>

  <div class="field">
    <%= form.label :activity_id %>
    <%= form.collection_select(:activity_id, Activity.all, :id, :name) %>
  </div>

  <div class="field">
    <%= form.label 'Number of players needed (Max 20)' %>
    <%= form.number_field :num_players %>
  </div>

  <div class="field">
    <%= form.label :description %>
    <%= form.text_area :description, size: "50x10" %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
