<p id="notice"><%= notice %></p>

<h1>Listings</h1>
<br><br>

<table>
  <thead>
    <tr>
      <th>Title</th>
      <th>Activity</th>
      <th>Venue</th>
      <th>Players needed</th>
    </tr>
  </thead>

  <tbody>
    <% @listings.each do |listing| %>
      <tr>
        <td><%= link_to listing.title, listing_path(listing) %></td>
        <% act = Activity.find_by(id: listing.activity_id) %>
          <td><%= act.name  %></td>
        <% ven = Venue.find_by(id: listing.venue_id) %>
          <td><%= ven.name %></td>
        <td><%= listing.num_players %></td>
        <% if @user.id == listing. organiser_id %>
        <td><%= link_to 'Edit', edit_listing_path(listing) %></td>
        
        <% end %>
        
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Listing', new_listing_path %>
