<p id="notice"><%= notice %></p>

<h1>Listings</h1>

<table>
  <thead>
    <tr>
      <th>Title</th>
      <th>Venue</th>
      <th>Activity</th>
      <th>Organiser</th>
      <th>Num players</th>
      <th>Description</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @listings.each do |listing| %>
      <tr>
        <td><%= listing.title %></td>
        <td><%= listing.venue_id %></td>
        <td><%= listing.activity_id %></td>
        <td><%= listing.organiser_id %></td>
        <td><%= listing.num_players %></td>
        <td><%= listing.description %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Listing', new_listing_path %>
