<p id="notice"><%= notice %></p>

<h1>Listings</h1>
<br><br>
<a href=<%=new_listing_path%>> <h2>Create Listing</h2> </a>
<br>

<div class="area-activities">
    <% @listings.each do |listing| %>
    <%= link_to listing_path(listing), action: 'go' do %>
      <div class="activity-card">
      <div class="activity-card-image">
      <% activity = Activity.find_by(id: listing.activity_id) %> 
      <img src=<%= activity.image_url %> alt=<%activity.name%>>
      </div>
        <h2><%= listing.title %></h2><br>
          <h3><%= activity.name %></h3>
          <% ven = Venue.find_by(id: listing.venue_id) %>
          <p>Venue: <%= ven.name %></p>
          <p>Spaces remaining: <%= listing.num_players - listing.players.length %></p>
        </div>
        <% end %>
      <% end %>



<br>


  