<div class="notice"><p id="notice"><%= notice %></p></div>
<br>
<div class="listing-show">
  <div class="listing-head">
    <div class="listing-rosette">
    <% if @listing.players.include? @user %>
      <img src="https://i.imgur.com/AMVZZbd.jpg" alt="rosette">
      <% end %>
    </div>
    <div class="listing-title">
      <h1><%= @listing.title %></h1><br><br>
      <% if @listing.num_players - @listing.players.length > 0 %>
        <h2><%= @listing.num_players - @listing.players.length %> spots remaining.</h2><br>
      <% else %>
        <h2 style="color:#f07727">All the spots are filled for this event.</h2><br>
      <% end %>
      <% if @listing.players.include? @user %>
      <%= button_to "I can't make it", delete_player_signup_path, :method => :post, :params => { listing_id: @listing.id } %>
       <% elsif @listing.num_players - @listing.players.length > 0 %>
      <%= button_to "I'm in!", join_listing_path, :method => :post, :params => { listing_id: @listing.id } %>
        <% else %>
      <% end %>
      <br>
    </div>
  </div>

  <div class="listing">
    <div class="listing-activity-image-container">
      <div class="listing-activity-image">
        <img src="<%= @activity.image_url %>" alt="#{<%= @activity.name %>} image">
      </div>
    </div>
    <div class="listing-details">
      <div class="listing-date">
        <h3><%= @listing.date.strftime("%a, %d %b") %></h3>
      </div>
      <div class="listing-description">
        <strong>Description:</strong><br>
        <%= @listing.description %>
      </div>
    </div>

    <div class="listing-details-card">
      <div class="listing-specifics">
        <div class="listing-item">
          <strong>Venue:</strong>
          <%= @venue.name %> <br>
        </div>
        <div class="listing-item">
          <strong>Activity:</strong>
          <%= @activity.name %> <br>
        </div>
          <div class="listing-item">
          <strong>Organiser:</strong>
          <%= @organiser.name %> <br>
        </div>
          <div class="listing-item">
          <strong>Contact email:</strong>
          <%= @organiser.email %> <br>
        </div>
        <div class="listing-item">
          <strong>Number of players required:</strong>
          <%= @listing.num_players %> <br><br>
        </div>
        <div class="listing-item">
        <% if @listing.num_players - @listing.players.length < 0 %>
          <p><strong style="color:#f07727">All spots filled</strong></p>
        <% else %>
          <strong>Number of players attending:</strong>
          <%= @listing.players.length %>
        <% end %>
        </div>
      </div>
    </div>
  </div>

  <% if @user.id == @listing.organiser_id %>
    <%= link_to 'Edit Listing', edit_listing_path(@listing) %> |
    <%= link_to 'Delete Listing', @listing, method: :delete, data: { confirm: 'Are you sure?' } %> |
  <% end %>
  <%= link_to 'Back', listings_path %>
</div>
