<h1>Admins page</h1>

<p><%= User.all.count%>, <%= link_to 'Users', users_path %></p>
<p><%= Activity.all.count%>, <%= link_to 'Activities', activities_path %></p>
<p><%= Listing.all.count%>, <%= link_to 'Listings', listings_path %></p>
<p><%= @not_activities.count%>, <%= link_to 'Activities needing to be accepted', unauthorised_activities_path %></p>
<p><%= Area.all.count%>, <%= link_to 'Areas', areas_path %></p>

<p><%= link_to 'Create new activity', new_activity_path %></p>
<p>All users</p>
<p>All users</p>

