<div class="update_user_form">
<%= form_for @profile, controller: 'users', action: 'update' do |f| %>
 <div class="field">
    <%= form.label :password_digest %>
    <%= form.text_field :password_digest %>
  </div>

  <%= f.submit "update" %>
<% end %>
</div>

<%= link_to 'Show', @profile %> |
<%= link_to 'Back', user_path(@user.id) %>