<p id="notice"><%= notice %></p>

<div class="area-show">
  <div class="area-title">
    <H1><%= @area.name %></H1>
    <br>
  </div>
  <div class="area-details">
    <div class="area-stats-card">
      <img src="https://icon-library.net/images/trophy-icon/trophy-icon-21.jpg" alt="trophy">
      <div class="container">
        <p><strong>Most Popular Activity:</strong> <%= @most_popular.name %></p>
        <p><strong>Number of organisers:</strong> <%= @organisers.length %></p>
        <p><strong>Number of players:</strong> <%= @players.length %></p>
      </div>
    </div>
  <div class="area-listings">
    <div class="area-listing-title"> 
      <h2>All listings in this area</h2><br>
    </div>

    <div class="area-activities">
    <% @listings.each do |listing| %>
    <%= link_to listing_path(listing), action: 'go' do %>
      <div class="listing-card">
      <div class="listing-card-image">
      <% activity = Activity.find_by(id: listing.activity_id) %> 
      <img src=<%= activity.image_url %> alt=<%activity.name%>>
      </div>
        <h2><%= listing.title %></h2><br>
          <h3><%= activity.name %></h3>
          <% ven = Venue.find_by(id: listing.venue_id) %>
          <p>Venue: <%= ven.name %></p>
          <p>Spaces remaining: <%= listing.num_players - listing.players.length %></p>
        </div>
        <% end %>
      <% end %>

            
      </div>
    </div>
  <%= link_to 'Back', areas_path %>
</div>
</div>

