<p id="notice"><%= notice %></p>

<div class="heading-container">
  <div class="heading">
    <h1>Activity List</h1><br>
  </div>
  <div class="heading-item">
  <div class="suggest-new-activity">
    <h3>Want to suggest a new activity? Click <%= link_to 'here', new_activity_path %> to submit your idea.</h3>
  </div>
    <div class="activity-search">
      <%= form_tag activities_path, :method => 'get' do %>
        <p>
        <%= text_field_tag :query, nil, :placeholder => "Search Activities" %>
        <%= submit_tag "Search", :name => nil %>
      </p>
      <% end %>
      <h2><a href="/activities">Reset search</a></h2>
  </div>
  </div>
</div>

  <div class='photo-grid-container'>
    <div class='photo-grid'>

<% @activities.each do |activity| %>
     <%= link_to "activities/#{activity.slug}", action: 'go' do %>
      <div class="activity-card">
      <div class="activity-card-image">
      <img src=<%= activity.image_url %> alt=<%activity.name%>>
      </div>
      <br>
        <h2><%= activity.name %></h2><br>
        <% listing = Listing.all.where(activity_id: activity.id)  %>
          <h3>Listings: <%= listing.length %></h3><br>
        </div>
        <% end %>
      <% end %>
    </div>
  </div>