<p id="notice"><%= notice %></p>


<div class="heading-container">
  <div class="heading">
    <h1>Activity List</h1><br>
  </div>
  <div class="heading-item">
    <h3>Want to suggest a new activity? Click <%= link_to 'here', new_activity_path %> to submit your idea.</h3>
  </div>
</div>
    

  <div class='photo-grid-container'>
    <div class='photo-grid'>
        <% @activities.each do |activity| %>
        <div class='photo-grid-item'>   
          <%= link_to image_tag(activity.image_url), activity_path(activity), class: "image-link" %>
            <%= link_to activity_path(activity), action: 'go' do %>
            <div class="overlay">
            <div class="photo-text">
            <%= activity.name %>
            </div>
            </div>
            <% end %>
        </div>
        <% end %>
      </div>
    </div>
  </div>