<div class="activity-show">
   <div class="heading-container">
  <div class="heading">
   <h1><%= @activity.name %></h1>
  </div> 
  </div>
 


  <div class="activity-details">
    <div class="activity-image">
      <img src="<%= @activity.image_url %>" alt="#{<%= @activity.name %>} image">
    </div>
    <div class="activity-description">
        <%= @activity.description %>
        <br><br>
        <%= button_to "Find a mixmatch I can join", listings_path, :method => :get %>
    </div>
  </div>
    <div class="activity-wiki">
      <%= link_to @activity.wiki_link, action: 'go' do %>
      <strong>Learn more about <%= @activity.name %></strong><br>
      <%= link_to 'Back', activities_path %>
      <% end %>
    </div>
</div>
