<div class="activity-show">
   <div class="heading-container">
    <div class="heading">
      <h1><%= @activity.name %></h1>
    </div> 
  </div>
 


  <div class="activity-details">
    <div class="activity-image-container">
      <div class="activity-image">
        <img src="<%= @activity.image_url %>" alt="#{<%= @activity.name %>} image">
      </div>
    </div>
    <div class="activity-description">
      <%= @activity.description %>
      <br><br>
      <div class="activity-description-actions">
        <div class="activity-listing-button">
          <%= button_to "Find a mixmatch I can join", "/listings", :method => :get, :params => { activity_id: @activity.id } %>
        </div>
        <div class="activity-wiki-link">
          <strong>Visit the <%= @activity.name %> <%= link_to 'Wikipedia Page', @activity.wiki_link %></strong><br>
        </div>
      </div>
    </div>
  </div>
</div>
</div>
